<div class="row valign-wrapper">
	<div class="col s8 offset-s2 valign">
		<div class="card grey lighten-5">
			<div class="card-content">
				<span class="card-title"><%= @article.title %></span>
				<%= simple_format(@article.text) %>
			</div>
				<div class="card-action">
				<% if user_signed_in? && @article.user_id == current_user.id %>
					<%= link_to 'EDIT', edit_article_path(@article) %>
					<%= link_to 'DELETE', article_path(@article), method: :delete %>
				<% end %>
				<%= link_to '', '', class: "dummy" %>
				<%= link_to "投稿者：#{@article.user.nickname}", user_path(@article.user_id), class: "posted-user" %>
			</div>
		</div>
	</div>
</div>